@{
    ViewData["Title"] = "Bài viết";
}
@{ var culture = CultureInfo.CurrentCulture.Name; }

<h1>Tin tức</h1>
<div class="card">

    <div class="card-body">
        <h5 class="card-title">Vivo X70 lộ ảnh render sắc nét</h5>
        <p class="card-text">Vivo X70 lộ ảnh render sắc nét: Để lộ thiết kế cao cấp và sang trọng, viền màn hình siêu mỏng, cụm camera tinh chỉnh bởi ZEISS</p>
        <a asp-action="Blog1" asp-controller="HomeW" class="btn btn-primary">Xem thêm</a>
    </div>
</div>
<br />
<div class="card">

    <div class="card-body">
        <h5 class="card-title">5 điện thoại 5G được giảm sâu bạc triệu hỗ trợ mùa dịch</h5>
        <p class="card-text">Đây là 5 điện thoại 5G được giảm sâu bạc triệu hỗ trợ mùa dịch, giá ngon hết ý sắm về thích mê ly</p>
        <a asp-action="Blog2" asp-controller="HomeW" class="btn btn-primary">Xem thêm</a>
    </div>
</div>
<br />