@{
    ViewData["Title"] = "Bài viết 1";
}


<article>
    <h1 class="titledetail">Vivo X70 lộ ảnh render sắc nét: Để lộ thiết kế cao cấp và sang trọng, viền màn hình siêu mỏng, cụm camera tinh chỉnh bởi ZEISS</h1>

    <div class="userdetail">
        <a href="/tin-tuc/profile/0">
            Hồ Sĩ Hoàng
        </a>
        <span>38 phút trước</span>
    </div>

    <div class="imgwrap"><img alt="Vivo X70 lộ ảnh render" data-original="https://cdn.tgdd.vn/Files/2021/08/26/1377904/vivox70_2_1280x720-800-resize.jpg" src="https://cdn.tgdd.vn/Files/2021/08/26/1377904/vivox70_2_1280x720-800-resize.jpg" title="Vivo X70 lộ ảnh render"></div><div class="captionnews">Render rò ri của Vivo X70 (nguồn: OnLeaks)</div><h2>Dự kiến, <a href="https://www.thegioididong.com/dtdd-vivo" target="_blank" title="Vivo" type="Vivo">Vivo</a> sẽ cho ra mắt dòng flagship X70 Series vào tháng 9 tới. Trong đó, mẫu smartphone <a href="https://www.thegioididong.com/dtdd/vivo-x70" target="_blank" title="Vivo X70" type="Vivo X70">Vivo X70</a> nhận được nhiều sự quan tâm. Mới đây, ảnh render của X70 đã bị rò rỉ trước ngày ra mắt để lộ viền màn hình mỏng cùng cụm 3 camera sau.</h2><p>Theo đó, tổng thể X70 có kích thước gần bằng với X70 Pro. Kích thước của máy được tiết lộ là&nbsp;158.5 x 73.4 x 8.0 mm. Nguồn tin cũng cho biết máy sở hữu màn hình đục lỗ 6.5 inch, tần số quét 120 Hz, viền màn hình khá mỏng và có thể trang bị cảm biến vân tay dưới màn hình.</p><div class="imgwrap"><img alt="Vivo X70 lộ ảnh render" data-original="https://cdn.tgdd.vn/Files/2021/08/26/1377904/vivox70_6_1280x720-800-resize.jpg" title="Vivo X70 lộ ảnh render" class=" lazyloaded" src="https://cdn.tgdd.vn/Files/2021/08/26/1377904/vivox70_6_1280x720-800-resize.jpg"></div><div class="captionnews">Vivo X70 có viền màn hình khá mỏng (nguồn: OnLeaks)</div><p>Ở mặt lưng của X70 là cụm 3 camera sau được tinh chỉnh bởi ZEISS. Theo các báo cáo, camera chính của máy sẽ có cảm biến ảnh 1/1.5 inch tích hợp công nghệ chống rung. Ảnh render cũng tiết lộ chiếc <a href="https://www.thegioididong.com/dtdd" target="_blank" title="điện thoại" type="điện thoại">điện thoại</a> sẽ có cổng USB-C, loa ngoài và loại bỏ cổng cắm jack tai nghe 3.5 mm.</p><div class="imgwrap"><img alt="Vivo X70 lộ ảnh render" data-original="https://cdn.tgdd.vn/Files/2021/08/26/1377904/vivox70_5_1280x720-800-resize.jpg" title="Vivo X70 lộ ảnh render" class=" lazyloaded" src="https://cdn.tgdd.vn/Files/2021/08/26/1377904/vivox70_5_1280x720-800-resize.jpg"></div><div class="captionnews">Camera Vivo X70 được tinh chỉnh bỏi ZEISS (nguồn: OnLeaks)</div><p>Theo các dự đoán và báo cáo, X70 có thể được trang bị con chip Dimensity 1200, RAM lên tới 12 GB và được trang bị công nghệ sạc nhanh 44 W.</p><div class="youtube" style="width: 800px;height: 450px" onclick="youtubeview(this,'https://www.youtube.com/embed/I2aJicqsGGQ?autoplay=1','800',450);"><img style="background-image:url(https://img.youtube.com/vi/I2aJicqsGGQ/sddefault.jpg);height: 100%!important" alt="" src=""><span><i class="iconnews-lvideo"></i></span></div><div class="captionnews">Render Vivo X70 (nguồn: OnLeaks)</div><p>Bạn thấy thiết kế tổng thể của Vivo X70 như thế nào?</p><p>Nguồn: <a rel="nofollow" href="https://www.gsmarena.com/vivo_x70_renders_show_a_similar_design_to_the_pro_with_three_cameras_and_a_flat_display-news-50666.php" target="_blank" title="Gsmarena" type="Gsmarena">Gsmarena</a></p><p>Xem thêm:&nbsp;<a href="https://www.thegioididong.com/tin-tuc/thiet-ke-vivo-x70-pro-lo-dien-qua-ban-render-moi-nhat-1377833" target="_blank" title="Vivo X70 Pro lộ hình ảnh render rõ nét: Cụm 4 camera, màn hình cong,.." type="Vivo X70 Pro lộ hình ảnh render rõ nét: Cụm 4 camera, màn hình cong,..">Vivo X70 Pro lộ hình ảnh render rõ nét: Cụm 4 camera, màn hình cong,..</a></p>
    <div class="ifrS8"></div>
    <input type="hidden" value="Vivo X70 lộ ảnh render sắc nét: Để lộ thiết kế cao cấp và sang trọng, viền màn hình siêu mỏng, cụm camera tinh chỉnh bởi ZEISS" id="txtTitle">

    <span class="btv">Biên tập bởi Mai Hữu Vinh</span>
    <div class="slidePS"></div>

    <div class="likewied">
        <div class="likeshare">
            <div class="fb-like fb_iframe_widget" data-href="https://www.thegioididong.com//tin-tuc/url-vivo-x70-lo-anh-render-thiet-ke-cao-cap-1377904" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=459645584142044&amp;container_width=0&amp;href=https%3A%2F%2Fwww.thegioididong.com%2F%2Ftin-tuc%2Furl-vivo-x70-lo-anh-render-thiet-ke-cao-cap-1377904&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small"><span style="vertical-align: bottom; width: 150px; height: 28px;"><iframe name="f984669c53c284" width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.6/plugins/like.php?action=like&amp;app_id=459645584142044&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df36bc06abe1b7d8%26domain%3Dwww.thegioididong.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.thegioididong.com%252Ff311182aed41bd8%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.thegioididong.com%2F%2Ftin-tuc%2Furl-vivo-x70-lo-anh-render-thiet-ke-cao-cap-1377904&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small" style="border: none; visibility: visible; width: 150px; height: 28px;" class=""></iframe></span></div>
        </div>
        <a onclick="ShowFrmFebck(this)" class="messenger"><b></b>Không hài lòng bài viết</a>
        <div class="viewed"><i class="iconnews-view"></i>18 lượt xem</div>
    </div>

    <form id="frmUnsatf" onsubmit="return SendFebck('#frmUnsatf')" class="hide" method="post" data-value="0">
        <textarea name="txtContent" rows="3" placeholder="Mời bạn góp ý để chúng tôi phục vụ tốt hơn"></textarea>
        <span>Hãy để lại thông tin để được hỗ trợ khi cần thiết (Không bắt buộc):</span>
        <div>
            <label onclick="changeSex(this)" data-sex="1" class="choosed"><i></i>Anh</label>
            <label onclick="changeSex(this)" data-sex="2"><i></i>Chị</label>
        </div>
        <input type="text" name="txtFullName" placeholder="Họ tên">
        <input type="text" name="txtPhoneNumber" placeholder="Số điện thoại">
        <input type="text" name="txtEmail" placeholder="Email">
        <input type="hidden" name="txtSex" value="1">
        <input type="hidden" name="txtNewsId" value="1377904">
        <button type="submit">Gửi góp ý<span>Cam kết bảo mật thông tin cá nhân</span></button>
        <label class="alert" id="alert"></label>
    </form>
</article>