@{
    ViewData["Title"] = "Bài viết 2";
}


<article>
    <h1 class="titledetail">Đây là 5 điện thoại 5G được giảm sâu bạc triệu hỗ trợ mùa dịch, giá ngon hết ý sắm về thích mê ly</h1>

    <div class="userdetail">
        <a href="/tin-tuc/profile/0">
            Pham Thang
        </a>
        <span>1 giờ trước</span>
    </div>

    <div class="imgwrap"><img alt="5 điện thoại 5G được hỗ trợ mùa dịch, giảm sâu lên đến 5 triệu đồng" data-original="https://cdn.tgdd.vn/Files/2021/08/24/1377574/samsung-galaxy-s21-ultra_1280x853-800-resize.jpg" src="https://cdn.tgdd.vn/Files/2021/08/24/1377574/samsung-galaxy-s21-ultra_1280x853-800-resize.jpg" title="5 điện thoại 5G được hỗ trợ mùa dịch, giảm sâu lên đến 5 triệu đồng"></div><h2>Bạn muốn sắm cho mình một chiếc <a href="https://www.thegioididong.com/dtdd" target="_blank" title="điện thoại" type="điện thoại">điện thoại</a> có công nghệ 5G với giá tốt đúng không? Thế thì bạn không nên bỏ qua 5 cái tên dưới đây. Toàn là những sản phẩm đang được Thế Giới Di Động hỗ trợ mùa dịch, giảm rất sâu, sắm về lúc này có thể tiết kiệm lên đến 5 triệu đồng.</h2><p><strong>Thời gian khuyến mãi</strong>: Đến ngày 31/8/2021.</p><p><strong>Lưu ý:</strong></p><ul><li>Một số khuyến mãi chỉ áp dụng đặt mua Online.&nbsp;</li><li>Thời gian khuyến mãi có thể kết thúc sớm nếu hết số lượng sản phẩm hoặc thông tin khuyến mãi có thay đổi.</li></ul><h3><strong>Xiaomi Mi 11 5G</strong></h3><p>Giá sau giảm 5 triệu đồng còn 16.990.000 đồng.</p><div class="youtube" style="width: 800px;height: 450px" onclick="youtubeview(this,'https://www.youtube.com/embed/Vqjrq3SOHh4?autoplay=1','800',450);"><img style="background-image:url(https://img.youtube.com/vi/Vqjrq3SOHh4/sddefault.jpg);height: 100%!important" alt="" src=""><span><i class="iconnews-lvideo"></i></span></div><p><a href="https://www.thegioididong.com/dtdd/xiaomi-mi-11" target="_blank" title="Xiaomi Mi 11 5G " type="Xiaomi Mi 11 5G ">Mi 11 5G</a> nổi bật với hiệu năng ấn tượng đến từ chip "rồng"&nbsp;Snapdragon 888 mạnh mẽ, cùng với đó là khả năng kết nối mạng 5G tốc độ cao. Chưa kể, màn hình&nbsp;siêu tràn viền 120 Hz của máy sẽ giúp việc giải trí chiếc điện thoại này trở nên tuyệt vời hơn. Không những thế, việc hỗ trợ công nghệ sạc nhanh công suất tận 55W, thời gian chờ sạc sẽ rút ngắn đi đáng kể.</p><p>Về chụp ảnh, quay phim thì&nbsp;hệ thống 3 camera sau có độ phần giải lên đến 108 MP, bên cạnh là những tính năng hiện đại như quay phim 4K, chụp đêm, góc siêu rộng,... của&nbsp;Mi 11 5G chắc chắn bạn sẽ không thất vọng.</p>
    <div class="infoprod item2020">
        <div class="image">
            <a href="/dtdd/xiaomi-mi-11">
                <img data-proid="226264" src="https://cdn.tgdd.vn/Products/Images/42/226264/xiaomi-mi-11-xanhduong-600x600-600x600.jpg">
            </a>
        </div>
        <div class="infor">
            <a href="/dtdd/xiaomi-mi-11">
                <h3>Xiaomi Mi 11 5G</h3>
            </a>
            <div class="price">
                <strong>16.990.000₫</strong>
                <span class="priceline">21.990.000₫</span>
                <i class="percent">-22%</i>
            </div>
            <aside class="result-label temp1"><img src="https://cdn.tgdd.vn/2020/10/content/icon1-50x50.png" width="20" height="20" alt="TRỢ GIÁ MÙA DỊCH" loading="lazy" class="imgresult lazyloaded"><span class="text">TRỢ GIÁ MÙA DỊCH</span></aside>                <label class="installment">Trả góp <b>0%</b></label>                                    <div class="promo">
                <p>Quà <b>300.000₫</b></p>
            </div>
            <a href="/dtdd/xiaomi-mi-11" class="viewdetail">Xem chi tiết</a>
        </div>
    </div>

    <p></p><h3><strong>Samsung Galaxy S21 Ultra 5G</strong></h3><p>Giá sau giảm 5 triệu đồng còn 25.990.000 đồng.</p><div class="youtube" style="width: 800px;height: 450px" onclick="youtubeview(this,'https://www.youtube.com/embed/bnZN_W9IYOQ?autoplay=1','800',450);"><img style="background-image:url(https://img.youtube.com/vi/bnZN_W9IYOQ/sddefault.jpg);height: 100%!important" alt="" src=""><span><i class="iconnews-lvideo"></i></span></div><p>Ngoài việc có được công nghệ 5G đang rất thịnh hành ngày nay, <a href="https://www.thegioididong.com/dtdd/samsung-galaxy-s21-ultra" target="_blank" title="Samsung Galaxy S21 Ultra 5G 128GB" type="Samsung Galaxy S21 Ultra 5G 128GB">Galaxy S21 Ultra 5G</a>&nbsp;còn mang tới bộ tứ camera sau chụp ảnh siêu nét, hỗ trợ zoom tận 100x. Những tựa game nặng cho đến các tác vụ nâng cao đều sẽ được con chip Exynos 2100 của máy xứ lý một cách mượt mà, ổn định.</p><p>Đặc biệt, với sự xuất hiện của cây bút S Pen thần thánh cũng giúp nâng tầm trải nghiệm của bạn trên&nbsp;Galaxy S21 Ultra 5G.</p>
    <div class="infoprod item2020">
        <div class="image">
            <a href="/dtdd/samsung-galaxy-s21-ultra">
                <img data-proid="226316" src="https://cdn.tgdd.vn/Products/Images/42/226316/samsung-galaxy-s21-ultra-bac-600x600-1-600x600.jpg">
            </a>
        </div>
        <div class="infor">
            <a href="/dtdd/samsung-galaxy-s21-ultra">
                <h3>Samsung Galaxy S21 Ultra 5G 128GB</h3>
            </a>
            <div class="price">
                <strong>25.990.000₫</strong>
                <span class="priceline">30.990.000₫</span>
                <i class="percent">-16%</i>
            </div>
            <aside class="result-label temp1"><img src="https://cdn.tgdd.vn/2020/10/content/icon1-50x50.png" width="20" height="20" alt="TRỢ GIÁ MÙA DỊCH" loading="lazy" class="lazy imgresult"><span class="text">TRỢ GIÁ MÙA DỊCH</span></aside>                <label class="installment">Trả góp <b>0%</b></label>                                    <div class="promo">
                <p>Quà <b>300.000₫</b></p>
            </div>
            <a href="/dtdd/samsung-galaxy-s21-ultra" class="viewdetail">Xem chi tiết</a>
        </div>
    </div>

    <p></p><p>Bên cạnh đó, những cái tên còn lại cũng nổi bật không kém, lần lượt là:</p><ul><li><a href="https://www.thegioididong.com/dtdd/iphone-12-pro-max-256gb" target="_blank" title="iPhone 12 Pro Max 256GB " type="iPhone 12 Pro Max 256GB ">iPhone 12 Pro Max 256GB</a>:&nbsp;Giá sau giảm 3 triệu đồng còn 34.490.000 đồng.</li><li><a href="https://www.thegioididong.com/dtdd/samsung-galaxy-s21" target="_blank" title="Samsung Galaxy S21 5G" type="Samsung Galaxy S21 5G">Samsung Galaxy S21 5G - Độc Quyền</a>:&nbsp;Giá sau giảm 3 triệu đồng còn 17.990.000 đồng.</li><li><a href="https://www.thegioididong.com/dtdd/oneplus-nord-n10-5g" target="_blank" title="OnePlus Nord N10 5G" type="OnePlus Nord N10 5G">OnePlus Nord N10 5G</a>: Giá sau giảm 2 triệu đồng còn 5.990.000 đồng.</li></ul><p>Sau khi xem qua, theo bạn thì đâu là chiếc máy đáng để "bấm mua" nhất?</p><p><strong><strong style="line-height: 1.6;"><a class="postarticle" href="https://www.thegioididong.com/mua-online-gia-re" style="margin: auto; width: 250px; text-align: center; line-height: 20.8px;" target="_blank" title="ƯU ĐÃI TRỢ GIÁ MÙA DỊCH" type="ƯU ĐÃI TRỢ GIÁ MÙA DỊCH"><span style="color: rgb(255, 255, 0);">ƯU ĐÃI TRỢ GIÁ MÙA DỊCH</span></a></strong></strong></p><p>Xem thêm:&nbsp;<a href="https://www.thegioididong.com/tin-tuc/tat-tan-tat-cac-ma-ma-giam-gia-o-the-gioi-di-dong-1377137" target="_blank" title="Tất tần tật các mã giảm giá Thế Giới Di Động đang có, bạn biết chưa?" type="Tất tần tật các mã giảm giá Thế Giới Di Động đang có, bạn biết chưa?">Tất tần tật các mã giảm giá Thế Giới Di Động đang có, bạn biết chưa?</a></p>
    <div class="ifrS8"></div>
    <input type="hidden" value="Đây là 5 điện thoại 5G được giảm sâu bạc triệu hỗ trợ mùa dịch, giá ngon hết ý sắm về thích mê ly" id="txtTitle">

    <span class="btv">Biên tập bởi Lăng Văn Nhàn</span>
    <div class="slidePS"></div>

    <div class="likewied">
        <div class="likeshare">
            <div class="fb-like fb_iframe_widget" data-href="https://www.thegioididong.com//tin-tuc/day-la-5-dien-thoai-5g-duoc-giam-sau-bac-trieu-1377574" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=459645584142044&amp;container_width=0&amp;href=https%3A%2F%2Fwww.thegioididong.com%2F%2Ftin-tuc%2Fday-la-5-dien-thoai-5g-duoc-giam-sau-bac-trieu-1377574&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small"><span style="vertical-align: bottom; width: 150px; height: 28px;"><iframe name="f21b96a778139d4" width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.6/plugins/like.php?action=like&amp;app_id=459645584142044&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df27aacdee4dcd1%26domain%3Dwww.thegioididong.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.thegioididong.com%252Ff3dd33647d2a9f8%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.thegioididong.com%2F%2Ftin-tuc%2Fday-la-5-dien-thoai-5g-duoc-giam-sau-bac-trieu-1377574&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small" style="border: none; visibility: visible; width: 150px; height: 28px;" class=""></iframe></span></div>
        </div>
        <a onclick="ShowFrmFebck(this)" class="messenger"><b></b>Không hài lòng bài viết</a>
        <div class="viewed"><i class="iconnews-view"></i>139 lượt xem</div>
    </div>

    <form id="frmUnsatf" onsubmit="return SendFebck('#frmUnsatf')" class="hide" method="post" data-value="0">
        <textarea name="txtContent" rows="3" placeholder="Mời bạn góp ý để chúng tôi phục vụ tốt hơn"></textarea>
        <span>Hãy để lại thông tin để được hỗ trợ khi cần thiết (Không bắt buộc):</span>
        <div>
            <label onclick="changeSex(this)" data-sex="1" class="choosed"><i></i>Anh</label>
            <label onclick="changeSex(this)" data-sex="2"><i></i>Chị</label>
        </div>
        <input type="text" name="txtFullName" placeholder="Họ tên">
        <input type="text" name="txtPhoneNumber" placeholder="Số điện thoại">
        <input type="text" name="txtEmail" placeholder="Email">
        <input type="hidden" name="txtSex" value="1">
        <input type="hidden" name="txtNewsId" value="1377574">
        <button type="submit">Gửi góp ý<span>Cam kết bảo mật thông tin cá nhân</span></button>
        <label class="alert" id="alert"></label>
    </form>
</article>