@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@{ var culture = CultureInfo.CurrentCulture.Name; }
@section scripts{
    <script src="~/js/cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.initialize();
    </script>
}

<ul class="breadcrumb">
    <li><a href="/" localize-content>Home</a> <span class="divider">/</span></li>
    <li class="active" localize-content> SHOPPING CART</li>
</ul>

<h3 localize-content>
    Giỏ hàng [ <small><span id="lbl_number_of_items">0</span> Sản phẩm </small>]
    
</h3>

<hr class="soft" />

<table class="table table-bordered" id="tbl_cart">
    <thead>
        <tr>
            <th localize-content>Product</th>
            <th localize-content>Description</th>
            <th localize-content>Quantity/Update</th>
            <th localize-content>Price</th>
            <th localize-content>Tax</th>
            <th localize-content>Total</th>
        </tr>
    </thead>
    <tbody id="cart_body">
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" style="text-align:right"><strong localize-content>TOTAL(Tax+Total) =</strong></td>
            <td class="label label-important" style="display:block"> <strong> <span id="lbl_total"></span> </strong></td>
        </tr>
    </tfoot>
</table>

<a href="/" class="btn btn-large" localize-content><i class="icon-arrow-left"></i> Trở về </a>

<a href="/@culture/Cart/Checkout" class="btn btn-large pull-right" localize-content>Tiếp tục <i class="icon-arrow-right"></i></a>