@model IEnumerable<SolutionShop.Data.Entities.ForgotPassword>

@{
    ViewData["Title"] = "Thông báo quan trọng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h2>Các tin quan trọng</h2>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Thông báo</li>
    </ol>
    <hr />
    <div class="row">
        <div class="col-md-1"></div>
        <div>
            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-header">
                        Thông báo
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản <b>@item.UserName</b></h5>
                        <p class="alert alert-danger">Địa chỉ <b>@item.Email </b>đang <u>@item.Description</u></p>

                    </div>
                </div>
            }
        </div>

    </div>
</div>

